{{#each this}}
<article>
  <h1>{{name}}</h1>
  <p> <span>Capital:</span> {{capital}} </p>
  <p> <span>Population:</span>  {{population}} </p>
  <p> <span>Languages:</span>  {{laguges}} </p>
  <ul>
    {{#each languages}}
    <li>{{name}}</li>
    {{/each}}
  </ul>
  <img class="countries-flag" src="{{flag}}" alt="{{name}}" width="180px">
</article>
{{/each}}